.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.my-component {
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 15px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #2a2a2a; /* Updated background color */
  min-height: 450px;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  color: #ccc; /* Updated text color */
}

.my-component::-webkit-scrollbar {
  width: 7px;
  background: #18181b;
}

.my-component::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 100%, 0.5);
  border-radius: 7px;
}

.my-component h2 {
  color: white;
  text-align: center;
  font-size: 2.25rem;
  margin: 0;
  line-height: 1.2;
}

.my-component #info-text,
#explanation-text {
  font-size: 1.1em;
  text-align: center;
  color: #ccc; /* Lighter color for better contrast */
}

#loadFollowersButton,
#loadFollowingButton {
  width: 100%; /* Full width */
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(14 165 233);
  color: white;
}

#loadFollowersButton:hover,
#loadFollowingButton:hover {
  background-color: rgb(2 132 199);
}

.my-component input[type="text"] {
  width: 100%; /* Full width */
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: #efeff1;
  background-color: #18181b;
}

.my-component select {
  width: 100%; /* Full width */
  padding: 12px;
  border: none;
  border-radius: 4px;
  color: #efeff1;
  background-color: #18181b;
  overflow-y: auto;
}

.my-component select::-webkit-scrollbar {
  width: 7px;
  background: #18181b;
  border-radius: 7px;
  opacity: 0;
}

.my-component select:hover::-webkit-scrollbar {
  opacity: 1;
}

.my-component select:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 86, 179, 0.25);
}

.my-component #unfollow-button {
  background-color: rgb(239 68 68);
}

.my-component #unfollow-button:hover {
  background-color: rgb(220 38 38);
}

.loader {
  border: 5px solid rgb(14 165 233);
  border-top: 5px solid rgb(2 132 199);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  z-index: 1001;
}

.user-list {
  width: 100%; /* Full width */
  overflow-y: auto;
  margin-top: 20px;
  display: none;
  flex-direction: column;
  gap: 10px; /* Space between users */
}

.user {
  display: flex;
  align-items: center;
  background: #333;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 15px;
}

.user-details {
  flex-grow: 1;
  margin-right: 15px;
}

.username {
  font-weight: bold;
}

.full-name {
  color: white;
}

.unfollow-button {
  width: 90px; /* Largura fixa para o botão */
  height: 35px; /* Altura opcional, caso queira uma altura fixa também */
  padding: 10px;
  background-color: rgb(239 68 68);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto; /* Alinha o botão à direita */
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.unfollow-button:hover {
  background-color: rgb(220 38 38);
}

.follow-button {
  width: 90px; /* Largura fixa para o botão */
  height: 35px; /* Altura opcional, caso queira uma altura fixa também */
  padding: 10px;
  background-color: rgb(34 197 94);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto; /* Alinha o botão à direita */
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.follow-button:hover {
  background-color: rgb(22 163 74);
}

.follow-back-button {
  width: 90px; /* Largura fixa para o botão */
  height: 35px; /* Altura opcional, caso queira uma altura fixa também */
  padding: 10px;
  background-color: rgb(14 165 233);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto; /* Alinha o botão à direita */
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.follow-back-button:hover {
  background-color: rgb(2 132 199);
}

#searchInput {
  display: none;
}

#filterNotFollowingBackButton {
  padding: 10px 15px;
  background-color: #9147ff; /* Roxo Twitch, ajuste conforme sua paleta de cores */
  color: #ffffff; /* Cor do texto */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px; /* Espaçamento superior para separar dos outros controles */
  transition: background-color 0.3s ease;
}

#filterNotFollowingBackButton:hover {
  background-color: #772ce8; /* Um roxo um pouco mais escuro para o hover */
}
